
<% include ../partials/header %>


<p><%= campground.name%></p>
<img src ="<%= campground.image%>">
<P><%= campground.description%></P>
<p>
    <a class= "btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new">Add review</a>
</p>
<%campground.comments.forEach(function(comment){%>
    
    <p>
      <strong><%= comment.author%> </storng>- <%= comment.text%>
    </p>
    
<% }) %>

<% include ../partials/footer %>